---
layout: base
title: About Me
permalink: /about/
---

<div class="container mt-4">
  <div class="row mb-5">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="page-title text-center">About <span class="highlight">Rebecca</span></h1>
      
      <div class="about-image">
        <img src="https://images.pexels.com/photos/6347556/pexels-photo-6347556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Rebecca with animals" class="img-fluid rounded shadow">
      </div>
      
      <div class="about-content mt-4">
        <p class="lead">Hi! I'm Rebecca, and I <em>love</em> animals!</p>
        
        <p>Welcome to my animal blog! I'm a 12-year-old animal enthusiast who's passionate about learning and sharing information about all kinds of amazing creatures that share our planet.</p>
        
        <p>My love for animals started when I was very young. I grew up surrounded by pets - dogs, cats, hamsters, and even a turtle named Speedy (who wasn't very speedy at all!). This early exposure to animals sparked my curiosity about wildlife and all the incredible diversity in the animal kingdom.</p>
        
        <h2>Why I Started This Blog</h2>
        
        <p>I created this blog because I wanted to share my excitement about animals with other kids (and adults too!). Every week, I research a different animal and share interesting facts, cool photos, and fun stories about them.</p>
        
        <p>My goal is to help people appreciate the beauty and importance of animals in our world. I hope that by learning about these amazing creatures, more people will care about protecting them and their habitats.</p>
        
        <h2>My Favorite Animals</h2>
        
        <div class="row my-4">
          <div class="col-md-4 mb-3">
            <div class="favorite-animal">
              <div class="animal-emoji">🐘</div>
              <h3>Elephants</h3>
              <p>They're so smart and have amazing memories!</p>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="favorite-animal">
              <div class="animal-emoji">🦈</div>
              <h3>Sharks</h3>
              <p>They're misunderstood and super important for oceans!</p>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="favorite-animal">
              <div class="animal-emoji">🦉</div>
              <h3>Owls</h3>
              <p>They can turn their heads almost all the way around!</p>
            </div>
          </div>
        </div>
        
        <h2>Fun Facts About Me</h2>
        <ul class="fun-facts-list">
          <li>I want to be a wildlife veterinarian when I grow up</li>
          <li>I've visited 5 different zoos across the country</li>
          <li>I volunteer at our local animal shelter on weekends</li>
          <li>My bedroom walls are covered with animal posters</li>
          <li>I've read over 50 books about different animals</li>
        </ul>
        
        <div class="contact-section mt-5">
          <h2>Contact Me</h2>
          <p>Do you have questions about animals or suggestions for future blog posts? I'd love to hear from you! Ask your parents to help you send me an email at <a href="mailto:rebecca@example.com">rebecca@example.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
